* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  color: #ffffff;
  font: 1.125em;
  text-align: center;
}

p {
  color: #ffffff;
  font-weight: bold;
  margin-top: 10%;
  position: relative;
  top: 0.60em;
  text-align: center;
}

form {
  background-color: #ffffff;
  border-radius: 0.75em;
  font-style: italic;
  height: 4.65em;
  margin: auto;
  text-align: center;
  width: 55%;
}

button {
  background-color: #134d71;
  border-radius: 0.5em;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 5%;
  width: 31%;
}

button:hover {
  background-color: #78a7c6;
  transform: scale(1.1);
}

.radio {
  display: inline;
}

.radio-button-wrapper {
  margin: 0% 11%;
  padding: 0%;
  position: relative;
  top: 11%;
}

.message-area {
  background-color: #ffffff;
  border-radius: .625em;
  height: 6.25em;
  margin: 6.25em;
  position: relative;
  text-align: center;
  width: 43em;
}

.icon {
  width: 9%;
  margin: 3%;
}

.random-text {
  color: #000000;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

#remove-message-button {
  background-color: red;
  border-radius: .5em;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 5%;
  margin-left: 42%;
  width: 15%;
}

.hidden {
  display: none;
}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
